<%- include('./base/header.ejs') %>
  <div class="container">
    <div class="alert bg-success my-3">
      <h4 class="text-center" style="color: aliceblue;">Add New Student</h4>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <form action='/add/student' method="post">
          <div>
            <label class="form-label">Roll No
            <input type="'text" class="form-control" name="rollNo"></label>
          </div>
          <div>
            <label class="form-label">First Name
            <input type="'text" class="form-control" name="firstName">
          </label>
          </div>
        <div>
          <label class="form-label">Last Name
          <input type="'text" class="form-control" name="lastName"></label>
        </div>
        <div>
          <label class="form-label">Father Name
          <input type="'text" class="form-control" name="fatherName"></label>
        </div>
        <div>
          <label class="form-label">Adhar Card No
          <input type="'text" class="form-control" name="adharCardNo"></label>
        </div>
        <div>
          <label class="form-label">Mobile no.
          <input type="'text" class="form-control" name="mobileNo"></label>
        </div>
        <input type="submit" value="Add Student" class="btn btn-warning w-100">
        </form>
      </div>
    </div>
  </div>
  <%- include('./base/footer.ejs') %>